@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
*:focus {
    outline: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
}
body {
    /* color: #eeeeee; */
    background-color: #e6ecf9;
}
a {
    color: #eeeeee;
    text-decoration: none;
}

header {
  width: 100%
}

.header-container {
  height: 90vh;
  background-color: #28376a;
  margin: 0px 10px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

/* Nav Bar logo */
.img-logo {
  height: 70px;
  width: auto;
}
/* Logo and ketari alignment */
.Logo-section {
  display: flex;
  align-items: center;
}


.ketari {
  color: rgb(250, 250, 250);
  text-decoration: none;
  font-size: clamp(0.9rem,1.9vw,1.5rem);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2); */
  background-color: #28376a;
  top: 0;
  margin: 10px 10px 0px 10px;
  width: (99% - 2px);
  justify-self: center;
  border-radius: 10px 10px 0px 0px;
  position: sticky;
  z-index: 9999;
}

/* navigation bar links section  */
.nav-bar-links {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.links {
  color: rgb(223, 221, 241);
  text-decoration: none;
  cursor: pointer;
  font-size: clamp(0.9rem,1.9vw,1.5rem);
  padding-right: 3vw;
  justify-self: center;
}
.links:hover {
  color: #cf566a;
}

.cta {
  display: flex;
  align-items: center;
}

.text-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin: 2rem;
}

.w-text {
  color: whitesmoke;
}

.banner-image {
  width: 50%;
  height: auto;
}

.entire-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.s-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 90%;
  box-sizing: border-box;
  border: #28376a 1px solid;
  border: 1px solid black;
  margin: 30px 0px 30px 0px;

}

.box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 26rem);
  align-items: normal;
  justify-content: center;
}

.cards {
  line-height:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  padding: 20px;
  margin: 20px;
  padding: 50px;
  background-color: #dfe4ee;
 border-radius: 5px;
 position: relative;
}

.cards:hover {

  transition: all 0.4s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -5px;
    /* border: 1px solid #cccccc; */
    background-color:#e6ecf9;
}
.tc {
  /* align-items: center; */
  text-align: center;
}

/* Second section */

.t-section {
  width: 90%;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 30px 0px 30px 0px;
}

.grid-container {
  display: grid;
  flex-direction: row;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, 50rem);
  border: 1px solid rgb(9, 173, 9);
}

.img-girl {
  align-self: center;
  justify-self: center;
  padding: 1rem;
  margin: 5rem;
  height: min(60vw,50vh);
  width:auto;
  border: 1px solid rgb(224, 85, 85);

}

.about-container{
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin: 30px;
  justify-content: space-evenly;
  border: 1px solid rgb(49, 18, 161);

}
 .s-proof {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

.stats {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  justify-content: space-between;
  padding: 25px;
}

.nums {
  margin-bottom: 20px;
}

/* Text formatting  */

.medium-txt {
  font-size: 1.7rem;
  font-weight: bolder;
  text-align:justify;
  color: #28376a;
  
}

.small-txt {
  line-height: 1rem;
}

.large-txt {
  font-size: 3vw;
  font-weight: bolder;
}
/*  */
span {
  font-size: 3rem;
}


/* Footer */
footer  {
    padding-top: 10px;
    height: 4vh;
    text-align: center;
    background-color: #28376a;
}
footer > p {
  color: #cccccc;
}






