@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
*:focus {
    outline: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
}
:root {
  --fs-400: 1.5rem;
  --fs-600: 2rem;
  --fs-xl: 100px; 
}
body {
    /* color: #eeeeee; */
    background-color: #e6ecf9;
}
a {
    color: #eeeeee;
    text-decoration: none;
}

/* Header */
header {
    margin: 5px;
    height: 64vh;
    border-radius: 20px;
    border: 1px solid #28376a;
    background-color: #28376a;
}

#logoImage {
    width: 160px;
    height: 50px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

nav {
    float: right;
    margin: 20px 25px 0px;
    background-color: #28376a;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

nav li a:hover {
    color: #cf566a;
}


nav  li a {
    font-size: 18px;
    font-weight: bold;
}


#intro {
    color: #eeeeee;
    margin: 20vh 10vh 0vh;
    font-size: 25px;
    width: 45%;
}

#intro p {
    margin-top: 20px;
    font-size: 20px;
}

#bannerImage {
    float: right;
    width: 420px;
    margin-top: -260px;
    margin-right: 160px;
}
#searchIcon {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    margin-right: -12px;
    float: left;

}
/* Header end */

.entire-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.s-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  gap: 2px;

}


.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 26rem);

}
/* 
.span-2 {
  grid-column: span 2;
  /* border: 1px solid black; */
  /* padding: 20px;
  margin: 20px;
  font-size: val(--fs-xl);
} */ 

.cards {
  line-height:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  padding: 20px;
  margin: 20px;
  padding: 50px;
  background-color: #dfe4ee;
 border-radius: 5px;
}

.cards:hover {
  transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color:#e6ecf9;
}
.tc {
  /* align-items: center; */
  text-align: center;
}

/* Second section */

.t-section {
  width: 90%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.img-girl {
width: 50%;
padding: 1rem;
margin: 5rem;
/* height: 50vw; */
}

.about-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 4rem;
  margin: 30px;
  justify-content: space-evenly;
}
 .s-proof {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

.stats {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  justify-content: space-between;
  padding: 25px;
}

.nums {
  margin-bottom: 20px;
}

/* Text formatting  */

.medium-txt {
  font-size: 1.7rem;
  font-weight: bolder;
  text-align:justify;
  color: #28376a;
  
}

.small-txt {
  line-height: 1rem;
}

.large-txt {
  font-size: 3vw;
  font-weight: bolder;
}
/*  */
span {
  font-size: 3rem;
}


/* Footer */
footer {
    padding-top: 10px;
    height: 4vh;
    text-align: center;
    background-color: #28376a;
}







